
.medicines-container {
  margin: 50px 15%;
}

.add-medicine {
  margin: auto 0;
  background-color: #002162bb;
  border: none !important;
  padding: 10px 18px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  height: fit-content;
}

.inp {
  border: none !important;
}

#txt {
  width: 100%;
  display: block;

  font-size: 14px;
  box-sizing: border-box;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Added a subtle box shadow */
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.lab1{
  margin-top: 50px;
}
#date-started{
  width: 100%;
  display: block;
  font-size: 14px;
  box-sizing: border-box;

  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Added a subtle box shadow */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#date-finished{
  width: 100%;
  display: block;
  font-size: 14px;
  box-sizing: border-box;

  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Added a subtle box shadow */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn:hover {
  background-color: #8f55f4;
}

/* List Styles */
#uls {
  list-style: none;
  padding: 0;
  width: 100%;
}

#lis {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Added a subtle box shadow */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.medicine-name{
  font-weight: bold;
  flex: 1;
}

.medicine-date {
  color: #888;
  font-size: 0.9em;
  margin-right: 10px; /* Adjust the margin to separate date and delete button */
}

.delete-link {
  padding: 5px;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
  width: auto;
}



.delete-link:hover {
  color: #fff;
}

textarea {
  width: 100%;
  display: block;
  font-size: 14px;
  box-sizing: border-box;
  padding: 30px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Added a subtle box shadow */
  display: flex;
  justify-content: space-between;
  align-items: center;

}

img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #333;
  margin: 0;
}

.symptoms-form {
  margin: 0 10%;
  margin-bottom: 60px;
}

.symptom-li {
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  padding: 15px 20px;
  list-style-type: none;
  margin-bottom: 15px;
}
