<div class="navbar-custom">
  <div class="navbar-logo">
    Lifeline
  </div>
  <div class="navbar-pages">
    <div>Discover Lifeline</div>
    <div>Services</div>
    <div>About</div>
    <div>Contact</div>
  </div>
  <div class="navbar-actions">
    <div class="btn-signin">Sign in</div>
    <div class="btn-signup">Sign up</div>
  </div>
</div>
