<div class="about">
<div class="aboutcontainer"><p style="color: white;">ABOUT US</p></div>
<div class="rpanel-cardss">
    <img class="rpanel-carrd" src="https://i.ibb.co/DCHQNFf/amin.png">
    <img class="rpanel-carrd" src="https://i.ibb.co/yhb4jLr/salwa.jpg">
    <img class="rpanel-carrd" src="https://i.ibb.co/xL97Lm2/ghita.jpg">
    <img class="rpanel-carrd" src="https://i.ibb.co/mvws7YF/arbia.jpg">
  </div>
<div class="aboutuscontainer">
  <p>
  Welcome to Lifeline, your go-to platform for securely managing medical records and monitoring vital signs. With Lifeline, users can effortlessly upload medical documents, keep track of vital signs, and receive timely reminders for medications and appointments.
  </p>
</div>
  <div class="acknocontainer"><p>Special Acknowledgements</p></div>
<div class="lpanel-cardss">
  <img class="lpanel-carrd" src="https://i.ibb.co/kcFWgCz/Design-sans-titre-42.png">
  <img class="lpanel-carrd" src="https://i.ibb.co/ZSjcT9x/Design-sans-titre-40.png">
</div>
<div class="specialcontainer">
  <p class="specialcontainerp">
  We're immensely grateful to Le Wagon for the outstanding training and to Jobintech for this special opportunity.
  Their support and guidance were essential in achieving our goals and completing this project.
  We deeply appreciate the knowledge, skills, and encouragement they've given us.
  </p>
</div>
</div>
