

<div class="about">
  <h1 class="ah1" >About Us</h1>
  <div class="rpanel-cardss">
    <img class="rpanel-carrd" src="/assets/amin.png">
    <img class="rpanel-carrd" src="/assets/arbia.jpg">
    <img class="rpanel-carrd" src="/assets/ghita.jpg">
    <img class="rpanel-carrd" src="/assets/salwa.jpg">
  </div>
  <p class="pabout">
   Lifeline is an app for storing medical files and monitoring vital signs securely. Users can upload medical documents, track vital signs, and receive medication and appointment reminders.
   Our goal is to empower individuals to manage their health conveniently and stress-free.
   We continuously improve our platform based on user feedback for a healthier future. Join us for better health and peace of mind.
  </p>


<h1 class="ah2" >Special Acknowledgment</h1>
<div class="lpanel-cardss">
  <img class="lpanel-carrd" src="/assets/logojo.jpg">
  <img class="lpanel-carrd" src="/assets/logole.png">
</div>
<p class="pabout">
We're immensely grateful to Le Wagon for the outstanding training and to Jobintech for this special opportunity.
Their support and guidance were essential in achieving our goals and completing this project.
We deeply appreciate the knowledge, skills, and encouragement they've given us, which have been integral to our journey.
</p>
</div>
