<div class="about">
<div class="aboutcontainer"><p>ABOUT US</p></div>
<div class="rpanel-cardss">
    <img class="rpanel-carrd" src="/assets/amin.png">
    <img class="rpanel-carrd" src="/assets/arbia.jpg">
    <img class="rpanel-carrd" src="/assets/ghita.jpg">
    <img class="rpanel-carrd" src="/assets/salwa.jpg">
  </div>
<div class="aboutuscontainer">
  <p>
  Welcome to Lifeline, your go-to platform for securely managing medical records and monitoring vital signs. With Lifeline, users can effortlessly upload medical documents, keep track of vital signs, and receive timely reminders for medications and appointments. Our mission is to empower individuals to take control of their health journey, offering a stress-free and convenient way to stay on top of their medical information. We are committed to continuous improvement, incorporating user feedback to ensure a healthier future for all. Join us on Lifeline for better health and peace of mind.
  </p>
</div>
  <div class="acknocontainer"><p>Special Acknowledgements</p></div>
<div class="lpanel-cardss">
  <img class="lpanel-carrd" src="/assets/logojo.jpg">
  <img class="lpanel-carrd" src="/assets/logole.png">
</div>
<div class="specialcontainer">
  <p class="specialcontainer">
  We're immensely grateful to Le Wagon for the outstanding training and to Jobintech for this special opportunity.
  Their support and guidance were essential in achieving our goals and completing this project.
  We deeply appreciate the knowledge, skills, and encouragement they've given us.
  </p>
</div>
</div>
