<%= stylesheet_link_tag "contact", "data-turbo-track": "reload" %>

<div class="formbold-main-wrapper">
  <h1>Contact Lifeline Team</h1>
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">
    <form action="https://formbold.com/s/FORM_ID" method="POST">
      <div class="formbold-mb-5">
        <label for="name" class="formbold-form-label"> Full Name </label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Full Name"
          class="formbold-form-input"
        />
      </div>
      <div class="formbold-mb-5">
        <label for="phone" class="formbold-form-label"> Phone Number </label>
        <input
          type="text"
          name="phone"
          id="phone"
          placeholder="Enter your phone number"
          class="formbold-form-input"
        />
      </div>
      <div class="formbold-mb-5">
        <label for="email" class="formbold-form-label"> Email Address </label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
          class="formbold-form-input"
        />
      </div>
      <div class="formbold-mb-5">
        <label for="email" class="formbold-form-label"> Your Message: </label>
        <textarea
          type="email"
          name="email"
          id="email"
          placeholder="Enter your message"
          class="formbold-form-input"
        ></textarea>
      </div>
      <div>
        <button class="add-vs contact-btn">Contact us</button>
      </div>
    </form>
  </div>
</div>
