<div>
  <h1>Dashboard</h1>
  <h2>Anything to add today?</h2>
</div>
<ul>
  <li>Symptoms</li>
  <li>Symptoms</li>
  <li>Symptoms</li>
  <li>Symptoms</li>
  <li>Symptoms</li>
  <li>Symptoms</li>
</li>
</ul>
