<%= stylesheet_link_tag "dashboard", "data-turbo-track": "reload" %>
<%# <div>
  <h1>Dashboard</h1>
  <h2>Anything to add today?</h2>
</div>

<div>
<ul>
  <li>Medical Files</li>
  <li>SVital Signs</li>
  <li>Medicines</li>
  <li>Appointments</li>
  <li>Symptoms</li>
  <li>Patient Sheet</li>
</li>
</ul>
</div> %>

<div class="dashboard">
  <%# Left Sidebar %>
  <div class="lpanel">
    <div class="lpanel-infos">Infos</div>
    <div class="lpanel-details">Detailed Infos</div>
    <div class="emergency">Emergency</div>
  </div>
  <%# 2nd Siderbar %>
  <div class="rpanel">
    <div class="rpanel-header">
      <div class="rpanel-welcome">Welcome</div>
      <div class="rpanel-report">Report</div>
    </div>
    <div class="rpanel-cards">
      <div class="rpanel-card">Medical Files</div>
      <div class="rpanel-card">Patient Sheet</div>
      <div class="rpanel-card">Medicines</div>
      <div class="rpanel-card">Symptoms</div>
    </div>
    <div class="rpanel-bottom">
      <div class="vitalsigns">Vital Signs</div>
      <div class="appointments">Appointments</div>
    </div>
  </div>
</div>
