.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #7C3AED; /* Adjust as needed */
}

.navbar-logo-and-icon {
  display: flex;
  align-items: center; /* Vertically align logo and icon */
}

.navbar-logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px; /* Add spacing between logo and icon */
}

.notification-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.navbar-pages {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navbar-pages div, /* Apply styles to all divs within .navbar-pages */
.navbar-actions div {
    margin-right: 20px;
    color: #fff; /* White text */
    font-size: 16px;
    margin-top: 5px;
  }

.navbar-actions {
  display: flex;
  align-items: center; /* Add this line to align items vertically */
}

.btn-signin,
.btn-signup,
.nav-btn {
  background-color: transparent;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn-signin:hover,
.btn-signup:hover,
.nav-btn:hover {
  background-color: #dfe6ee; /* Lighter purple on hover */
  color: #0f0f0f;
}
.nav-item.dropdown {
  /* Adjust dropdown styling as needed */
}

.avatar {
  /* Style your avatar image */
  border-radius: 50%;
  /* Additional styles for size, shadow, etc. */
}

.dropdown-menu {
  /* Style your dropdown menu as needed */
  background-color: #fff;
  /* Shadow, border, etc. */
}

.dropdown-item {
  /* Style your dropdown items as needed */
  color: #333;
  /* Text color, hover effects, etc. */
}
