// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/vital_sign";
@import "pages/patient_sheet";

@import "pages/symptoms";
@import "pages/medicines";
@import "components/footer";


$primary-bg: #F6F4F6;
$primary-color: #7C3AED;

body {
  background-color: $primary-bg;
  margin: 0px 150px;
}

.main-cont {
  min-height: 100vh
}
