.contact-btn {
  margin-top: 25px;
}

.formbold-main-wrapper {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 50px;
  color: black;
  border-radius: 10px;
  margin: 5% 15%;
}

.formbold-main-wrapper input {
  border: none;
}

.formbold-main-wrapper textarea {
  border: none;
  padding: 20px;
}
