div {
  margin: 0;
}


.mf-container {
  margin: 50px 20%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #09327ab6;
  border-radius: 15px;
  padding: 20px 0px;
  margin-bottom: 80px;
}

.mfs-container {
  margin: 0 20%;
  border-radius: 15px;
  padding: 20px 0px;
  margin-bottom: 80px;
}

.mf-infos {
  padding: 0px 30px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #143a707c;
  color: rgba(255, 255, 255, 0.806);
  border-radius: 5px;
  height: 50px;
  align-items: center;
}

.mf-name {
  background-color: #002162bb;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 24px;
  margin: 0px 48px 10px 48px;
  font-weight: 600;
  text-align: center;
}

.mf-details {
  padding: 10px 50px;
  font-size: 20px;
  margin-bottom: auto;
  margin-top: 20px;
}

.details-container {
  display: flex;
  gap: 15%;
  margin-top: 10px;
}

.details-infos {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #174583;
}

.mf-prescriptions,
.mf-tests {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.mf-image {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  margin: 0;
  border-radius: 5px;
}

.back-btn {
  text-decoration: none;
  height: 50px;
  font-size: 24px;
  padding: 0px 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  width: fit-content;
  color: rgba(255, 255, 255, 0.806);
  border-radius: 5px;
}

.mf-description {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
  padding: 20px;
  margin: 20px 0;
}

.mf-title {
  font-size: 20px;
  font-weight: 800;
}

.mfs-list {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 25px;
  border-radius: 15px;
}

.mf-view * {
  color: #002162bb;
  text-decoration: none;
  font-weight: 600;
}

.mfs-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: white;
}

.msg-nomedicalfile {
  font-size: 24px;
}

.medicalform {
  margin-bottom: 50px;
  margin-top: 20px;
}

.upperdiv {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002162bb;
  color: white;
  padding: 5px 15px;
  gap: 10px;
  border-radius: 5px;
  font-size: 16px;
  margin: 0px 48px 10px 48px;
  font-weight: 600;
  text-align: center;
}

.uppercontainer {
  margin-top: 15px;
  margin-bottom: 0;
}

#formdiv {
  margin-top: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border-width: 10px;
  padding: 15px;
}

input {
  width: 350px;
  border-radius: 7px;

}

.form-control {
  background-color: rgba(255, 255, 255, 0.875);
  border-radius: 10px;
  padding: 10px;
}

.form-select {
  background-color: rgba(255, 255, 255, 0.875);
  border-radius: 10px;
}

form{
  padding: 20px;
}

.btn{
  width: 70%;
}

.deletebtn{
  background-color: #800000e1 !important;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

#picdiv{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #e5d8fba4;
  padding: 15px;
}

.mfs-title {
  color: white;
  font-size: 28px;
}

.add-medicalfile {
  margin: auto 0;
  background-color: #002162bb;
  padding: 10px 18px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  height: fit-content;
}

.add-medicalfile:hover {
  background-color: #002162;
}

.longer {
  margin-top: 10px;
  width: 100%;
}

.inputdiv {
  border: 1px solid rgba(255, 255, 255, 0.875);
  border-radius: 10px;
}

.pdf-actions {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pdf-action {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #002162bb;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
